.carousel {
  max-width: 800px; /* ajuste selon ton design */
  margin: 0 auto; /* centre le carousel */
}

.carousel-inner img {
  height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px; /* optionnel, pour arrondir les coins */
}


/* Réduit un peu la taille du bloc des 3 cartes et le centre */
.card-group {
  max-width: 80px;      /* le bloc occupe 80% de la largeur */
  margin: 50px auto;   /* le centre horizontalement et ajoute un peu d'espace */
  gap: 20px;           /* espace entre les cartes */
}

/* Donne une taille fixe et homogène aux images */
.card-img-top {
  height: 250px;       /* même hauteur pour toutes les images */
  object-fit: cover;   /* garde le bon ratio sans déformation */
  object-position: center; /* centre l’image dans le cadre */
}

/* Optionnel : stylise un peu les cartes */
.card {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  
}

